
        nav{
            border: none;
            width: 1300px;
            height: 80px;
            margin-left: 90px ;
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #818FB4;
        }
        .container{
            text-align: right;
            font-size:18px;
        }
        #one{
            border: none;
            width: 1300px;
            height: 200px;
            margin-left: 90px ;
            margin-top: 5px;
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            font-size: 25px;
        }
        .one{
            border: 3px solid black;
            width: 1300px;
            height: 270px;
            margin-left: 90px ;
            margin-top: 5px;
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            font-size: 25px;
            background-color: #F5E8C7;
        }
        #two{
            border: 3px solid black;
            width: 600px;
            height: 270px;
            margin-left: 90px;
            margin-top: 3px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 25px;
            background-color: #FFEED9;
        }
        #three{
            border: 3px solid black;
            width: 651px;
            height: 269.5px;
            margin-left: 740px;
            margin-top: -274.5px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 25px;
            background-color: #FFEED9;
        }
        #four{
            border: 3px solid black;
            width: 600px;
            height: 350px;
            margin-left: 90px;
            margin-top: 3px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 25px;
            background-color: #FFEED9;
        }
        #five{
            border: 3px solid black;
            width: 651px;
            height: 349.7px;
            margin-left: 740px;
            margin-top: -354.2px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 25px;
            background-color: #FFEED9;

        }
